<div id="Skills">
    <div class="row justify-content-md-center text-center">
        <div class="col col-3 bg-white habilidades" id="BackEnd">
            <i class="bi-hdd-fill"></i>
            <h3>Back-End</h3>

            <p class="text-primary cabecera">
                Habilidades:
            </p>

            <ul>
                <li>C#</li>
                <li>ASP.NET MVC</li>
                <li>ASP.NET Core MVC</li>
                <li>SQL SERVER</li>
                <li>Entity Framework</li>
                <li>LINQ</li>
                <li>Dapper</li>
            </ul>

        </div>
        <div class="col col-3 bg-white habilidades" id="FrontEnd">
            <i class="bi-code-slash"></i>
            <h3>Front-End</h3>

            <p class="text-primary cabecera">
                Habilidades:
            </p>

            <ul>
                <li>HTML</li>
                <li>CSS</li>
                <li>Javascript</li>
                <li>Razor</li>
                <li>jQuery</li>
                <li>Ajax</li>
            </ul>

        </div>
    </div>
</div>