
<div class="text-center">
    <h1 class="display-4">Hector Alonso Arenas Lara</h1>
    <h2> Soy un desarrollador web jr con conocimientos en ASP.NET/C# </h2>

    <img id="foto" src="~/imagenes/perfil.jpg" alt="Foto de Perfil" />
</div>

<div class="text-center">
    <img id="imagen-dotnet" src="~/imagenes/dotnet-imagen-2.png" alt="logo" />
</div>

<div class="row justify-content-center text-center bg-primary">
    <div class="col col-md-8 seccion-bienvenida">
        <h1> Te doy la bienvenida a mi portafolio</h1>
        <p class="text-justify">
            Soy Egresado de Lic. en Tecnologías de Información en la Facultad de Contaduría Pública Y Administración 
            de la Universidad Autónoma de Nuevo León, donde tuve la experiencia de aprender sobre C#/ASP.NET, SQL SERVER,
            HTML, CSS, entre otras herramientas. Aun no conforme con lo aprendido en la carrera, siempre he sido de la idea de
            estar en constante aprendizaje de forma autónoma, para seguir conociendo sobre nuevas tecnologías/herramientas 
            para tener un valor agregado en mi perfil, buscando siempre la manera de seguir agregando valor a mi cv y así 
            poder desempeñar mejor los objetivos de un puesto de trabajo como lo es desarrollador web.
        </p>
    </div>
</div>
